{% extends 'base.html.twig' %}

{% block body %}
    <p>nom : {{ nom }}</p>
    <p>prenom : {{ prenom }}</p>
    <p>numéro de licence : {{ num_licence }}</p>
    {{ form_start(form) }}
    <input id="email" name="email" value="{{ email }}"/>
    {{ form_widget(form) }}
    
    <p>Nuites</p>

    <div style="display: grid;">
               
    </div>
    <button type="submit">Submit</button>
    {{ form_end(form) }}
</form>
{% endblock %}