{% extends 'base.html.twig' %}

{% block body %}
    <p>nom : {{ user.getLicencie().getNom() }}</p>
    <p>prenom : {{ user.getLicencie().getPrenom() }}</p>
    <p>numéro de licence : {{ user.getLicencie().getNumLicence() }}</p>

    {{ form_start(form) }}

    <input id="email" name="email" value="{{ user.getEmail() }}"/>

    {{ form_widget(form) }}

    <h2>Nuites</h2>

    <div>
        <p>6 au 7 Septembre</p>
        <div style="display: grid;">
            {% for hotel in hotels %}
                <div style="grid-column: 1">
                    <p>{{ hotel.getNom() }}</p>
                    {% for tarif in hotel.getTarifs() %}
                        <label for="chambre{{ tarif.getId() }}">{{ tarif.getCategorie().getLibelleCategorie() }}</label>
                        <input type="radio" id="chambre{{ tarif.getId() }}" name="sept6_7" value="{{ tarif.getId() }}"/>
                    {% endfor %}
                </div>
            {% endfor %}
        </div><br>

        <p>7 au 8 Septembre</p>
        <div style="display: grid;">
            {% for hotel in hotels %}
                <div style="grid-column: 1">
                    <p>{{ hotel.getNom() }}</p>
                    {% for tarif in hotel.getTarifs() %}
                        <label for="chambre{{ tarif.getId() }}">{{ tarif.getCategorie().getLibelleCategorie() }}</label>
                        <input type="radio" id="chambre{{ tarif.getId() }}" name="sept7_8" value="{{ tarif.getId() }}"/>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% if app.session.flashbag.peekAll()|length > 0  %}
        {% for message in app.flashes('valider') %}
            <div class="flash-valider">
                <h3>{{ message }}</h3>
            </div>
        {% endfor %}
    {% else %}
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}
