{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}