{% extends 'base.html.twig' %}

{% block body %}
    <p> Status de l'inscription :
        {% if inscription.getDateValidation() %}
            Validé
        {% else %}
            En Attente
        {% endif %}
    </p>
    <p>Retaurations :
        {% if restaurations %}
            {% for resto in restaurations %}
                {{ resto.getTypeRepas }}
            {% endfor %}
        {% else %}
            Pas de restauration
        {% endif %}
    </p>
    <p>
    </p>
    <div>
        <p>
            Nuites : 
        </p>
        <ul>
            {% for nuite in nuites %}
                <li> Hotel : {{ nuite.getHotel().getNom() }} <br> Chambre : {{ nuite.getCategorie.getLibelleCategorie() }}</li>
                {% endfor %}
        </ul>
    </div>
    <p> Total : {{ total }}
    </p>
    
    {% if not inscription.getDateValidation() %}
    <form action="{{ path('inscription_valider_inscription') }}" method='post'>
        <input type="hidden" name="inscriptionValide" value="{{ inscription.getId() }}"/>
        <button type="submit">Valider l'inscription</button>
    </form>
    {% endif %}
{% endblock %}